
/.vs
/bin/*
/obj/*
/Services/Catalog/Catalog.API/bin/*
/Services/Catalog/Catalog.API/obj/*
/Services/Catalog/Catalog.Application/bin/*
/Services/Catalog/Catalog.Application/obj/*
/Services/Catalog/Catalog.Core/bin/*
/Services/Catalog/Catalog.Core/obj/*
/Services/Catalog/Catalog.Infrastructure/bin/*
/Services/Catalog/Catalog.Infrastructure/obj/*
/Services/Basket/Basket.Api/bin/*
/Services/Basket/Basket.Api/obj/*
/Services/Basket/Basket.Application/bin/*
/Services/Basket/Basket.Application/obj/*
/Services/Basket/Basket.Core/bin/*
/Services/Basket/Basket.Core/obj/*
/Services/Basket/Basket.Infrastructure/bin/*
/Services/Basket/Basket.Infrastructure/obj/*
