
/.vs
/bin/*
/obj/*
/Services/Catalog/Catalog.API/bin/*
/Services/Catalog/Catalog.API/obj/*
/Services/Catalog/Catalog.Application/bin/*
/Services/Catalog/Catalog.Application/obj/*
/Services/Catalog/Catalog.Core/bin/*
/Services/Catalog/Catalog.Core/obj/*
/Services/Catalog/Catalog.Infrastructure/bin/*
/Services/Catalog/Catalog.Infrastructure/obj/*
/Services/Basket/Basket.Api/bin/*
/Services/Basket/Basket.Api/obj/*
/Services/Basket/Basket.Application/bin/*
/Services/Basket/Basket.Application/obj/*
/Services/Basket/Basket.Core/bin/*
/Services/Basket/Basket.Core/obj/*
/Services/Basket/Basket.Infrastructure/bin/*
/Services/Basket/Basket.Infrastructure/obj/*
/Services/Discount/Discount.API/bin/*
/Services/Discount/Discount.API/obj/*
/Services/Discount/Discount.Application/bin/*
/Services/Discount/Discount.Application/obj/*
/Services/Discount/Discount.Core/bin/*
/Services/Discount/Discount.Core/obj/*
/Services/Discount/Discount.Infrastructure/bin/*
/Services/Discount/Discount.Infrastructure/obj/*
/Services/Ordering/Ordering.API/bin/Debug/net8.0
/Services/Ordering/Ordering.API/obj
/Services/Ordering/Ordering.Application/obj
/Services/Ordering/Ordering.Core/obj
/Services/Ordering/Ordering.Infrastructure/obj
/BuildingBlocks/EventBus/bin
/BuildingBlocks/EventBus/obj
/Services/Ordering/Ordering.Application/bin
/Services/Ordering/Ordering.Core/bin
/Services/Ordering/Ordering.Infrastructure/bin
/BuildingBlocks/Logging/bin/Debug/net8.0
/BuildingBlocks/Logging/obj
